@import "tailwindcss";

#root {
  text-align: center;
}

.debug {
  @apply border border-red-500;
}


.loading-icon {
  animation: spinElement;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes spinElement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
